.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    /* Footer height */
}

@media only screen and (max-width: 1026px) {
    #toc {
        display: none;
    }
}
@media only screen and (min-width: 1026px) {
    #burger {
        display: none;
    }
}
h1,
h2,
h6{
  font-family: Poppins;
}
a{
    font-family: Raleway;
}
