.footer {
    bottom: 0;
    width: 100%;
    height: 2rem;
    /* Footer height */
}

@media only screen and (max-width: 1026px) {
    #toc {
        display: none;
    }
}

@media only screen and (min-width: 1026px) {
    #burger {
        display: none;
    }
}

h1,
h2,
h6 {
    font-family: Poppins;
}

a {
    font-family: Raleway;
}

@media only screen and (max-width: 1026px) {
    #toc {
        display: none;
    }
}

@media only screen and (min-width: 1026px) {
    #burger {
        display: none;
    }
}

h1,
h2,
h6,
h5 {
    font-family: Poppins;
}

a {
    font-family: Raleway;
}

p {
    text-align: justify;

}

#vidtit {
    padding: 2%;
}

h2 .subtitle {
    margin-top: -0.2em;
}


#slide-open {
    background-color: #dfa8ff;
}

#slide-close {
    background-color: #a8aeff;
}

#flap-open {
    background-color: #f78d8d;
}

#flap-close {
    background-color: #f7bb8d;
}

#cap {
    background-color: #fff9c2;
}

#uncap {
    background-color: #ecffc2;
}

#pick {
    background-color: #c5ffc2;
}

#place {
    background-color: #7dfae1;
}

#slide-in {
    background-color: #7dddfa;
}

#slide-out {
    background-color: #3269a1;
    color: beige;
}

#wipe {
    background-color: #a25ffa;
    color: beige;
}

/* Custom styles to create a full-page image */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.full-page-image {
    background-image: url(media/big_banner.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.orange {
    /* Add a semi-transparent over to the image if needed */
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.jay {
    /* Center your content vertically and horizontally */
    position: absolute;
    bottom: 0;
    /* right: 25; */
    /* transform: translate(-50%, -50%); */
    z-index: 20;
    color: #fff;
    /* Set the color for your content */
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 150%;
}

.banner-state {
    height: 400px;
    /* or whatever height you want for the banner */
    transition: height 1.5s ease;
}

.ncont .jay {
    opacity: 0;
    /* transition: opacity 1s ease; */
    transition: opacity 1.0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    /* #transition: opacity 1.0s ease; */
    transition: opacity 1.0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#news img{
    height: 50px; width: auto;
    margin-bottom: 15px;
}